= form_for @person do |f|
  -if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend Enter details
    .field.clear-both
      .label.float-left
        = f.label :first_name
      .input.float-left
        = f.text_field :first_name
    .field.clear-both
      .label.float-left
        = f.label :last_name
      .input.float-left
        = f.text_field :last_name
    .field.clear-both
      .label.float-left
        = f.label :middle_initial
      .input.float-left
        = f.text_field :middle_initial
    .field.clear-both
      .label.float-left
        = f.label :email
      .input.float-left
        = f.email_field :email
    .field.clear-both
      .label.float-left
        = f.label :date_of_birth
      .input.float-left
        = f.date_select :date_of_birth
    .field.clear-both
      .label.float-left
        = f.label :role
      .input.float-left
        = f.select( :role, {"Father" => "Father", "Son" => "Son"})
  .actions
    = f.submit 'Save'
