%p#notice= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Middle initial:
  = @person.middle_initial
%p
  %b Email:
  = @person.email
%p
  %b Date of birth:
  = @person.date_of_birth
%p
  %b Role:
  = @person.role

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
